<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dce.business.dao.realgoods.goodsDao">
	<resultMap id="BaseResultMap" type="com.dce.business.entity.Realgoods.grow">
		<id column="goodsId" jdbcType="INTEGER" property="goodsid" />
		<result column="goodsSn" jdbcType="VARCHAR" property="goodssn" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="goodsImg" jdbcType="VARCHAR" property="goodsimg" />
		<result column="goodsThums" jdbcType="INTEGER" property="goodsthums" />
		<result column="brandId" jdbcType="INTEGER" property="brandid" />
		<result column="shopId" jdbcType="INTEGER" property="shopid" />
		<result column="marketPrice" jdbcType="DECIMAL" property="marketprice" />
		<result column="shopPrice" jdbcType="DECIMAL" property="shopprice" />
		<result column="goodsStock" jdbcType="INTEGER" property="goodsstock" />
		<result column="saleCount" jdbcType="INTEGER" property="salecount" />
		<result column="isBook" jdbcType="TINYINT" property="isbook" />
		<result column="bookQuantity" jdbcType="INTEGER" property="bookquantity" />
		<result column="warnStock" jdbcType="INTEGER" property="warnstock" />
		<result column="goodsUnit" jdbcType="CHAR" property="goodsunit" />
		<result column="isSale" jdbcType="TINYINT" property="issale" />
		<result column="isBest" jdbcType="TINYINT" property="isbest" />
		<result column="isHot" jdbcType="TINYINT" property="ishot" />
		<result column="isRecomm" jdbcType="TINYINT" property="isrecomm" />
		<result column="isNew" jdbcType="TINYINT" property="isnew" />
		<result column="isAdminBest" jdbcType="TINYINT" property="isadminbest" />
		<result column="isAdminRecom" jdbcType="TINYINT" property="isadminrecom" />
		<result column="recommDesc" jdbcType="VARCHAR" property="recommdesc" />
		<result column="cid1" jdbcType="INTEGER" property="cid1" />
		<result column="cid2" jdbcType="INTEGER" property="cid2" />
		<result column="cid3" jdbcType="INTEGER" property="cid3" />
		<result column="shopCatId1" jdbcType="INTEGER" property="shopcatid1" />
		<result column="shopCatId2" jdbcType="INTEGER" property="shopcatid2" />
		<result column="isShopRecomm" jdbcType="TINYINT" property="isshoprecomm" />
		<result column="isIndexRecomm" jdbcType="TINYINT" property="isindexrecomm" />
		<result column="isActivityRecomm" jdbcType="TINYINT" property="isactivityrecomm" />
		<result column="isInnerRecomm" jdbcType="TINYINT" property="isinnerrecomm" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="saleTime" jdbcType="TIMESTAMP" property="saletime" />
		<result column="attrCatId" jdbcType="INTEGER" property="attrcatid" />
		<result column="goodsKeywords" jdbcType="VARCHAR" property="goodskeywords" />
		<result column="goodsFlag" jdbcType="TINYINT" property="goodsflag" />
		<result column="statusRemarks" jdbcType="VARCHAR" property="statusremarks" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.dce.business.entity.Realgoods.growWithBLOBs">
		<result column="goodsSpec" jdbcType="LONGVARCHAR" property="goodsspec" />
		<result column="goodsDesc" jdbcType="LONGVARCHAR" property="goodsdesc" />
	</resultMap>
	<sql id="Base_Column_List">
		goodsId, goodsSn, title, goodsImg, goodsThums, brandId, shopId, marketPrice,
		shopPrice,
		goodsStock, saleCount, isBook, bookQuantity, warnStock, goodsUnit, isSale,
		isBest,
		isHot, isRecomm, isNew, isAdminBest, isAdminRecom, recommDesc, cid1, cid2,
		cid3,
		shopCatId1, shopCatId2, isShopRecomm, isIndexRecomm, isActivityRecomm,
		isInnerRecomm,
		status, saleTime, attrCatId, goodsKeywords, goodsFlag, statusRemarks,
		createTime
	</sql>
	<sql id="Blob_Column_List">
		goodsSpec, goodsDesc
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from ct_goods
		where goodsId = #{goodsid,jdbcType=INTEGER}
	</select>

	<!-- 自定义查询 -->
	<select id="selectgoods" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" /> 
		,
		<include refid="Blob_Column_List" /> 
		from ct_goods limit #{offset},#{rows}

	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ct_goods
		where goodsId = #{goodsid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dce.business.entity.Realgoods.growWithBLOBs">
		insert into ct_goods (goodsId, goodsSn, title,
		goodsImg, goodsThums, brandId,
		shopId, marketPrice, shopPrice,
		goodsStock, saleCount, isBook,
		bookQuantity, warnStock, goodsUnit,
		isSale, isBest, isHot,
		isRecomm, isNew, isAdminBest,
		isAdminRecom, recommDesc, cid1,
		cid2, cid3, shopCatId1,
		shopCatId2, isShopRecomm, isIndexRecomm,
		isActivityRecomm, isInnerRecomm, status,
		saleTime, attrCatId, goodsKeywords,
		goodsFlag, statusRemarks, createTime,
		goodsSpec, goodsDesc)
		values (#{goodsid,jdbcType=INTEGER}, #{goodssn,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{goodsimg,jdbcType=VARCHAR}, #{goodsthums,jdbcType=INTEGER}, #{brandid,jdbcType=INTEGER},
		#{shopid,jdbcType=INTEGER}, #{marketprice,jdbcType=DECIMAL},
		#{shopprice,jdbcType=DECIMAL},
		#{goodsstock,jdbcType=INTEGER}, #{salecount,jdbcType=INTEGER}, #{isbook,jdbcType=TINYINT},
		#{bookquantity,jdbcType=INTEGER}, #{warnstock,jdbcType=INTEGER},
		#{goodsunit,jdbcType=CHAR},
		#{issale,jdbcType=TINYINT}, #{isbest,jdbcType=TINYINT}, #{ishot,jdbcType=TINYINT},
		#{isrecomm,jdbcType=TINYINT}, #{isnew,jdbcType=TINYINT},
		#{isadminbest,jdbcType=TINYINT},
		#{isadminrecom,jdbcType=TINYINT}, #{recommdesc,jdbcType=VARCHAR}, #{cid1,jdbcType=INTEGER},
		#{cid2,jdbcType=INTEGER}, #{cid3,jdbcType=INTEGER},
		#{shopcatid1,jdbcType=INTEGER},
		#{shopcatid2,jdbcType=INTEGER}, #{isshoprecomm,jdbcType=TINYINT}, #{isindexrecomm,jdbcType=TINYINT},
		#{isactivityrecomm,jdbcType=TINYINT},
		#{isinnerrecomm,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
		#{saletime,jdbcType=TIMESTAMP}, #{attrcatid,jdbcType=INTEGER},
		#{goodskeywords,jdbcType=VARCHAR},
		#{goodsflag,jdbcType=TINYINT}, #{statusremarks,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
		#{goodsspec,jdbcType=LONGVARCHAR}, #{goodsdesc,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.dce.business.entity.Realgoods.growWithBLOBs">
		insert into ct_goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="goodsid != null">
				goodsId,
			</if>
			<if test="goodssn != null">
				goodsSn,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="goodsimg != null">
				goodsImg,
			</if>
			<if test="goodsthums != null">
				goodsThums,
			</if>
			<if test="brandid != null">
				brandId,
			</if>
			<if test="shopid != null">
				shopId,
			</if>
			<if test="marketprice != null">
				marketPrice,
			</if>
			<if test="shopprice != null">
				shopPrice,
			</if>
			<if test="goodsstock != null">
				goodsStock,
			</if>
			<if test="salecount != null">
				saleCount,
			</if>
			<if test="isbook != null">
				isBook,
			</if>
			<if test="bookquantity != null">
				bookQuantity,
			</if>
			<if test="warnstock != null">
				warnStock,
			</if>
			<if test="goodsunit != null">
				goodsUnit,
			</if>
			<if test="issale != null">
				isSale,
			</if>
			<if test="isbest != null">
				isBest,
			</if>
			<if test="ishot != null">
				isHot,
			</if>
			<if test="isrecomm != null">
				isRecomm,
			</if>
			<if test="isnew != null">
				isNew,
			</if>
			<if test="isadminbest != null">
				isAdminBest,
			</if>
			<if test="isadminrecom != null">
				isAdminRecom,
			</if>
			<if test="recommdesc != null">
				recommDesc,
			</if>
			<if test="cid1 != null">
				cid1,
			</if>
			<if test="cid2 != null">
				cid2,
			</if>
			<if test="cid3 != null">
				cid3,
			</if>
			<if test="shopcatid1 != null">
				shopCatId1,
			</if>
			<if test="shopcatid2 != null">
				shopCatId2,
			</if>
			<if test="isshoprecomm != null">
				isShopRecomm,
			</if>
			<if test="isindexrecomm != null">
				isIndexRecomm,
			</if>
			<if test="isactivityrecomm != null">
				isActivityRecomm,
			</if>
			<if test="isinnerrecomm != null">
				isInnerRecomm,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="saletime != null">
				saleTime,
			</if>
			<if test="attrcatid != null">
				attrCatId,
			</if>
			<if test="goodskeywords != null">
				goodsKeywords,
			</if>
			<if test="goodsflag != null">
				goodsFlag,
			</if>
			<if test="statusremarks != null">
				statusRemarks,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="goodsspec != null">
				goodsSpec,
			</if>
			<if test="goodsdesc != null">
				goodsDesc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="goodsid != null">
				#{goodsid,jdbcType=INTEGER},
			</if>
			<if test="goodssn != null">
				#{goodssn,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="goodsimg != null">
				#{goodsimg,jdbcType=VARCHAR},
			</if>
			<if test="goodsthums != null">
				#{goodsthums,jdbcType=INTEGER},
			</if>
			<if test="brandid != null">
				#{brandid,jdbcType=INTEGER},
			</if>
			<if test="shopid != null">
				#{shopid,jdbcType=INTEGER},
			</if>
			<if test="marketprice != null">
				#{marketprice,jdbcType=DECIMAL},
			</if>
			<if test="shopprice != null">
				#{shopprice,jdbcType=DECIMAL},
			</if>
			<if test="goodsstock != null">
				#{goodsstock,jdbcType=INTEGER},
			</if>
			<if test="salecount != null">
				#{salecount,jdbcType=INTEGER},
			</if>
			<if test="isbook != null">
				#{isbook,jdbcType=TINYINT},
			</if>
			<if test="bookquantity != null">
				#{bookquantity,jdbcType=INTEGER},
			</if>
			<if test="warnstock != null">
				#{warnstock,jdbcType=INTEGER},
			</if>
			<if test="goodsunit != null">
				#{goodsunit,jdbcType=CHAR},
			</if>
			<if test="issale != null">
				#{issale,jdbcType=TINYINT},
			</if>
			<if test="isbest != null">
				#{isbest,jdbcType=TINYINT},
			</if>
			<if test="ishot != null">
				#{ishot,jdbcType=TINYINT},
			</if>
			<if test="isrecomm != null">
				#{isrecomm,jdbcType=TINYINT},
			</if>
			<if test="isnew != null">
				#{isnew,jdbcType=TINYINT},
			</if>
			<if test="isadminbest != null">
				#{isadminbest,jdbcType=TINYINT},
			</if>
			<if test="isadminrecom != null">
				#{isadminrecom,jdbcType=TINYINT},
			</if>
			<if test="recommdesc != null">
				#{recommdesc,jdbcType=VARCHAR},
			</if>
			<if test="cid1 != null">
				#{cid1,jdbcType=INTEGER},
			</if>
			<if test="cid2 != null">
				#{cid2,jdbcType=INTEGER},
			</if>
			<if test="cid3 != null">
				#{cid3,jdbcType=INTEGER},
			</if>
			<if test="shopcatid1 != null">
				#{shopcatid1,jdbcType=INTEGER},
			</if>
			<if test="shopcatid2 != null">
				#{shopcatid2,jdbcType=INTEGER},
			</if>
			<if test="isshoprecomm != null">
				#{isshoprecomm,jdbcType=TINYINT},
			</if>
			<if test="isindexrecomm != null">
				#{isindexrecomm,jdbcType=TINYINT},
			</if>
			<if test="isactivityrecomm != null">
				#{isactivityrecomm,jdbcType=TINYINT},
			</if>
			<if test="isinnerrecomm != null">
				#{isinnerrecomm,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="saletime != null">
				#{saletime,jdbcType=TIMESTAMP},
			</if>
			<if test="attrcatid != null">
				#{attrcatid,jdbcType=INTEGER},
			</if>
			<if test="goodskeywords != null">
				#{goodskeywords,jdbcType=VARCHAR},
			</if>
			<if test="goodsflag != null">
				#{goodsflag,jdbcType=TINYINT},
			</if>
			<if test="statusremarks != null">
				#{statusremarks,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="goodsspec != null">
				#{goodsspec,jdbcType=LONGVARCHAR},
			</if>
			<if test="goodsdesc != null">
				#{goodsdesc,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dce.business.entity.Realgoods.growWithBLOBs">
		update ct_goods
		<set>
			<if test="goodssn != null">
				goodsSn = #{goodssn,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="goodsimg != null">
				goodsImg = #{goodsimg,jdbcType=VARCHAR},
			</if>
			<if test="goodsthums != null">
				goodsThums = #{goodsthums,jdbcType=INTEGER},
			</if>
			<if test="brandid != null">
				brandId = #{brandid,jdbcType=INTEGER},
			</if>
			<if test="shopid != null">
				shopId = #{shopid,jdbcType=INTEGER},
			</if>
			<if test="marketprice != null">
				marketPrice = #{marketprice,jdbcType=DECIMAL},
			</if>
			<if test="shopprice != null">
				shopPrice = #{shopprice,jdbcType=DECIMAL},
			</if>
			<if test="goodsstock != null">
				goodsStock = #{goodsstock,jdbcType=INTEGER},
			</if>
			<if test="salecount != null">
				saleCount = #{salecount,jdbcType=INTEGER},
			</if>
			<if test="isbook != null">
				isBook = #{isbook,jdbcType=TINYINT},
			</if>
			<if test="bookquantity != null">
				bookQuantity = #{bookquantity,jdbcType=INTEGER},
			</if>
			<if test="warnstock != null">
				warnStock = #{warnstock,jdbcType=INTEGER},
			</if>
			<if test="goodsunit != null">
				goodsUnit = #{goodsunit,jdbcType=CHAR},
			</if>
			<if test="issale != null">
				isSale = #{issale,jdbcType=TINYINT},
			</if>
			<if test="isbest != null">
				isBest = #{isbest,jdbcType=TINYINT},
			</if>
			<if test="ishot != null">
				isHot = #{ishot,jdbcType=TINYINT},
			</if>
			<if test="isrecomm != null">
				isRecomm = #{isrecomm,jdbcType=TINYINT},
			</if>
			<if test="isnew != null">
				isNew = #{isnew,jdbcType=TINYINT},
			</if>
			<if test="isadminbest != null">
				isAdminBest = #{isadminbest,jdbcType=TINYINT},
			</if>
			<if test="isadminrecom != null">
				isAdminRecom = #{isadminrecom,jdbcType=TINYINT},
			</if>
			<if test="recommdesc != null">
				recommDesc = #{recommdesc,jdbcType=VARCHAR},
			</if>
			<if test="cid1 != null">
				cid1 = #{cid1,jdbcType=INTEGER},
			</if>
			<if test="cid2 != null">
				cid2 = #{cid2,jdbcType=INTEGER},
			</if>
			<if test="cid3 != null">
				cid3 = #{cid3,jdbcType=INTEGER},
			</if>
			<if test="shopcatid1 != null">
				shopCatId1 = #{shopcatid1,jdbcType=INTEGER},
			</if>
			<if test="shopcatid2 != null">
				shopCatId2 = #{shopcatid2,jdbcType=INTEGER},
			</if>
			<if test="isshoprecomm != null">
				isShopRecomm = #{isshoprecomm,jdbcType=TINYINT},
			</if>
			<if test="isindexrecomm != null">
				isIndexRecomm = #{isindexrecomm,jdbcType=TINYINT},
			</if>
			<if test="isactivityrecomm != null">
				isActivityRecomm = #{isactivityrecomm,jdbcType=TINYINT},
			</if>
			<if test="isinnerrecomm != null">
				isInnerRecomm = #{isinnerrecomm,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="saletime != null">
				saleTime = #{saletime,jdbcType=TIMESTAMP},
			</if>
			<if test="attrcatid != null">
				attrCatId = #{attrcatid,jdbcType=INTEGER},
			</if>
			<if test="goodskeywords != null">
				goodsKeywords = #{goodskeywords,jdbcType=VARCHAR},
			</if>
			<if test="goodsflag != null">
				goodsFlag = #{goodsflag,jdbcType=TINYINT},
			</if>
			<if test="statusremarks != null">
				statusRemarks = #{statusremarks,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="goodsspec != null">
				goodsSpec = #{goodsspec,jdbcType=LONGVARCHAR},
			</if>
			<if test="goodsdesc != null">
				goodsDesc = #{goodsdesc,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where goodsId = #{goodsid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dce.business.entity.Realgoods.growWithBLOBs">
		update ct_goods
		set goodsSn = #{goodssn,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		goodsImg = #{goodsimg,jdbcType=VARCHAR},
		goodsThums = #{goodsthums,jdbcType=INTEGER},
		brandId = #{brandid,jdbcType=INTEGER},
		shopId = #{shopid,jdbcType=INTEGER},
		marketPrice = #{marketprice,jdbcType=DECIMAL},
		shopPrice = #{shopprice,jdbcType=DECIMAL},
		goodsStock = #{goodsstock,jdbcType=INTEGER},
		saleCount = #{salecount,jdbcType=INTEGER},
		isBook = #{isbook,jdbcType=TINYINT},
		bookQuantity = #{bookquantity,jdbcType=INTEGER},
		warnStock = #{warnstock,jdbcType=INTEGER},
		goodsUnit = #{goodsunit,jdbcType=CHAR},
		isSale = #{issale,jdbcType=TINYINT},
		isBest = #{isbest,jdbcType=TINYINT},
		isHot = #{ishot,jdbcType=TINYINT},
		isRecomm = #{isrecomm,jdbcType=TINYINT},
		isNew = #{isnew,jdbcType=TINYINT},
		isAdminBest = #{isadminbest,jdbcType=TINYINT},
		isAdminRecom = #{isadminrecom,jdbcType=TINYINT},
		recommDesc = #{recommdesc,jdbcType=VARCHAR},
		cid1 = #{cid1,jdbcType=INTEGER},
		cid2 = #{cid2,jdbcType=INTEGER},
		cid3 = #{cid3,jdbcType=INTEGER},
		shopCatId1 = #{shopcatid1,jdbcType=INTEGER},
		shopCatId2 = #{shopcatid2,jdbcType=INTEGER},
		isShopRecomm = #{isshoprecomm,jdbcType=TINYINT},
		isIndexRecomm = #{isindexrecomm,jdbcType=TINYINT},
		isActivityRecomm = #{isactivityrecomm,jdbcType=TINYINT},
		isInnerRecomm = #{isinnerrecomm,jdbcType=TINYINT},
		status = #{status,jdbcType=TINYINT},
		saleTime = #{saletime,jdbcType=TIMESTAMP},
		attrCatId = #{attrcatid,jdbcType=INTEGER},
		goodsKeywords = #{goodskeywords,jdbcType=VARCHAR},
		goodsFlag = #{goodsflag,jdbcType=TINYINT},
		statusRemarks = #{statusremarks,jdbcType=VARCHAR},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		goodsSpec = #{goodsspec,jdbcType=LONGVARCHAR},
		goodsDesc = #{goodsdesc,jdbcType=LONGVARCHAR}
		where goodsId = #{goodsid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dce.business.entity.Realgoods.grow">
		update ct_goods
		set goodsSn = #{goodssn,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		goodsImg = #{goodsimg,jdbcType=VARCHAR},
		goodsThums = #{goodsthums,jdbcType=INTEGER},
		brandId = #{brandid,jdbcType=INTEGER},
		shopId = #{shopid,jdbcType=INTEGER},
		marketPrice = #{marketprice,jdbcType=DECIMAL},
		shopPrice = #{shopprice,jdbcType=DECIMAL},
		goodsStock = #{goodsstock,jdbcType=INTEGER},
		saleCount = #{salecount,jdbcType=INTEGER},
		isBook = #{isbook,jdbcType=TINYINT},
		bookQuantity = #{bookquantity,jdbcType=INTEGER},
		warnStock = #{warnstock,jdbcType=INTEGER},
		goodsUnit = #{goodsunit,jdbcType=CHAR},
		isSale = #{issale,jdbcType=TINYINT},
		isBest = #{isbest,jdbcType=TINYINT},
		isHot = #{ishot,jdbcType=TINYINT},
		isRecomm = #{isrecomm,jdbcType=TINYINT},
		isNew = #{isnew,jdbcType=TINYINT},
		isAdminBest = #{isadminbest,jdbcType=TINYINT},
		isAdminRecom = #{isadminrecom,jdbcType=TINYINT},
		recommDesc = #{recommdesc,jdbcType=VARCHAR},
		cid1 = #{cid1,jdbcType=INTEGER},
		cid2 = #{cid2,jdbcType=INTEGER},
		cid3 = #{cid3,jdbcType=INTEGER},
		shopCatId1 = #{shopcatid1,jdbcType=INTEGER},
		shopCatId2 = #{shopcatid2,jdbcType=INTEGER},
		isShopRecomm = #{isshoprecomm,jdbcType=TINYINT},
		isIndexRecomm = #{isindexrecomm,jdbcType=TINYINT},
		isActivityRecomm = #{isactivityrecomm,jdbcType=TINYINT},
		isInnerRecomm = #{isinnerrecomm,jdbcType=TINYINT},
		status = #{status,jdbcType=TINYINT},
		saleTime = #{saletime,jdbcType=TIMESTAMP},
		attrCatId = #{attrcatid,jdbcType=INTEGER},
		goodsKeywords = #{goodskeywords,jdbcType=VARCHAR},
		goodsFlag = #{goodsflag,jdbcType=TINYINT},
		statusRemarks = #{statusremarks,jdbcType=VARCHAR},
		createTime = #{createtime,jdbcType=TIMESTAMP}
		where goodsId = #{goodsid,jdbcType=INTEGER}
	</update>

</mapper>